body{ 
	margin: 0;
	height: 100vh;
	overflow: hidden;
	background-color: black;
}
canvas{
	display: block;
}
span{
	color: white;
	float: right;
	text-align: right;
	font-size: 25px;
	margin-right: 2%;
	font-family: 'Space Mono', monospace;
}